﻿html {
  font-family:Arial, Helvetica, sans-serif; 
}
body {
    margin: 0 auto;
    background-color: #eca1a6;
}
.page-wrapper{
    max-width:1200px;
    margin:0 auto;
}
  .container {
      text-align:left;
      font-size:1.3em;
  }
  .fsection{
      margin-bottom:100px;
  }

#main-navigation .navbar li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
nav {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
}
nav a{
    color:black;
}
nav a:hover{
    color:blue;
}
nav a:visited{
    color:purple;
}
.secsection a{
    color:black;
}
header {
    position: relative;
    background-color: #d6cbd3;
    height:150px;
}
#footer {
    clear: both;
    background-color: #ada397;
    margin-top:300px;
    height:100px;
    text-align: left;
}